---
layout: post 
title: Category
permalink: /category/
---

<div class="container category">
{% for category in site.categories %}
  {% if category[0] != 'articles' and category[0] != 'notes' %}
  <ul class="name">
      {% assign name = category[0] %}
      <h2> {{ category[0] }} ({{ site.categories[name] | size }}) </h2>
    {% for page in site.categories[name] %}
      <li class="element"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a> (<time>{{ page.date | date: '%Y-%m-%d' }}</time>)</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
</div>
