---
layout: default
---

<div class="contents front-page">
  <div class="container">
    <!-- Articles -->
    {% for post in site.categories.articles %}
      <article class="archive">
        {% if post.thumb %}
        <!-- 変数が存在したら定義されているサムネ -->
        {% capture thum %}{{ site.url }}{{ post.thumb }}{% endcapture %}
        <img src="{{ thum }}">
        {% else %}
        <!-- 変数が存在しなければデフォルトのサムネ -->
        <img src="{{ site.baseurl }}/assets/thumbs/default.png">
        {% endif %}
        <a href="{{ post.url | relative_url }}">
        <section class="archive__preview">
            <h2 class="archive__title">{{ post.title }}</h2>
            <p class="archive__excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
            <p class="archive__date"><time>{{ post.date | date: '%B %d, %Y' }}</time></p>
        </section>
        </a>
      {% for tag in post.categories %}
      <p class="tag">{{ tag }}</p>
      {% endfor %}
      </article>
    {% endfor %}
    {% include pagination.html %}
  </div><!--container-->
</div><!--main-->
