---
---

@import 'config';
@import 'mixins';
@import 'extends';

body {
  background-color: #fff;
  font-family: "Bitter","Palatino Linotype","Book Antiqua",Palatino,serif;
}

// .archive

.archive {
  width: 500px;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
  color: #868a94;
  background-color: #f1f1f1;
  vertical-align: top;
}

.archive img {
  width: 100%;
  vertical-align: middle;
}

.archive a {
  color: #4e4e4e;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}

.archive .tag {
  display: inline-block;
  width: auto;
  padding: 0 8px;
  font-size: 14px;
  color: #4e4e4e;
  font-family: -apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  box-shadow: 0 0 0.6px #d5dae1;
  border-radius: 2px;
  border-color: #ccc;
  background-color: #fafafa;
  margin-right: 2px;
  margin-left: 10px;
  float: left;
}

.archive__list {
  text-align: center;
}

.archive__preview {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0 none;
  position: relative;
  display: block;
}

.archive__title {
  font-family: Merriweather,-apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  color: #4e4e4e;
  font-size: 18px;
}

.archive__excerpt {
  margin-top: 8px;
  font-size: 14px;
  font-family: Merriweather-Light,-apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

.archive__date {
  float: right;
  color: #a9b0bc;
  display: inline-block;
  font-size: 14px;
  letter-spacing: .6px;
}

// .page

.page__title {
  text-align: center;
}

.page__date {
  text-align: center;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.page__body {
  font-family: "Bitter","Palatino Linotype","Book Antiqua",Palatino,serif;
}

.page__body h1 {
  padding: 0px 0px 5px 1px;
}

.page__body h2 {
  padding: 5px 5px 5px 10px;
  border-left: 5px solid #0f0;
  color: #444;
  font-size: 130%;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 2px;
}

.page__body h3 {
  padding: 0px 0px 5px 1px;
  font-size: 110%;
  letter-spacing: 1px;
}

.page__body p {
  margin: 0 0 1em 0;
  word-wrap: break-word;
}

.page__body ol {
  padding-right: 10px;
  padding-left: 20px;
}

.page__body ul {
  padding-right: 10px;
  padding-left: 20px;
  overflow: auto;
  overflow-y: hidden;
  word-wrap: break-word;
}

// about me

.about {
  text-align: center;
}

.profile {
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.logs {
  width: 100%;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

// category

.category {

  .name {

  }

  .element {

  }
}
// header

.header {
  max-width: $container-width;
  margin: auto;
  margin-bottom: 10px;
}

.nav{
  font-family: "Bitter","Palatino Linotype","Book Antiqua",Palatino,serif;
  border-top: $border;
  border-bottom: $border;
  text-align: center;
  padding: 10px;

  a {
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
  }
}

.site-title{
  font-weight: bold;
  padding: 4% 0;
  text-align: center;

  @include breakpoint(){
    font-size: 20px;
  }

  a{
    color: $font-color;
    text-decoration: none;
  }
}

// main

.container {
  max-width: $container-width;
  margin: auto;
  padding: 12px 12px 26px 12px;
  border-top: 1px solid rgba(255,255,255,0.6);
  box-shadow: #ADADAD 0 0 5px;
  display: block;
}

.page .container {
  border-bottom: 10px;
}


// footer

.copyright{
  margin-bottom: 0;
}

.footer{
  border-top: $border;
  max-width: $container-width;
  margin: auto;

  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// code

pre {
  padding: 5px;
  background-color: #fff;
  color: #333;
  font-family: Monaco,Consolas,Courier New,Courier,monospace,sans-serif;
  overflow: auto;
  overflow-y: hidden;
  display: block;
  white-space: pre;
  margin: 1em 0px 1em;
}

code.highlighter-rouge {
    font-size: 90%;
    font-family: Monaco,Consolas,Courier New,Courier,monospace,sans-serif;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid rgba(0,0,0,.08);
    background-color: rgba(0,0,0,.03);
    border-radius: 3px;
    word-wrap: break-word;
}

// pagination

.pager{
  @include pad();
  display: flex;
  flex-wrap: wrap;

  &__item{

    $pre: &;

    a{
      text-decoration: none;
    }

    &--prev{
      @extend #{$pre};
      margin-left: auto;
    }

    &--next{
      @extend #{$pre};
      margin-right: auto;
    }
  }
}

.pagination{
  @include pad();
  display: flex;
  flex-wrap: wrap;

  &__item{

    margin-right: 4px;
    text-decoration: none;
    display: block;
    padding: 7px 16px;
    border: $border;
  }

  .current{
    background: $color-main;
    border-color: $color-main;
    color: white;
  }
}

// assets

img {
  max-width: 100%;
  border: 1px solid #eee;
}

.thumnail {
  text-align: center;
  margin-top: 5%;
}

.thumnail img {
  border-radius: 50%;
  border: 1px #000 solid;
  height: 20%;
  width: 20%;
}

.social-link{
  display: flex;
  flex-wrap: wrap;

  &__item{
    font-size: 1.5em;

    a{
      color: #666;
      display: block;
      padding: 5px;
    }
  }
}

.pocket-btn {
  display: inline-block;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}
